.listWidth {
  width: 60vw;
}

@media (max-width: 992px) {
  .listWidth {
    width: 80vw;
  }
}

.center {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

.company {
  color: rgb(255, 255, 255);
}

.title {
  color: rgb(230, 230, 230);
  margin-left: 5px;
}

.dates {
  font-size: 0.8rem;
  color: rgb(202, 202, 202);
  margin-left: 20px;
}

.accordionBgColor {
  --bs-accordion-color: #ffffff;
  --bs-accordion-bg: #222;
  --bs-accordion-border-color: #303030;
}

@media (max-width: 1000px) {
  .company {
    font-size: 0.9rem;
  }

  .title {
    font-size: 0.8rem;
  }

  .dates {
    font-size: 0.7rem;
  }

  .listWidth {
    width: 100vw;
  }

  .listWidth p {
    font-size: 0.9rem;
  }
}
