.containerHeight {
  min-height: 100vh;
}


.sectionTitle {
  text-align: center;
  font-size: 3.1875rem;
  font-weight: 600;
  margin-top: 10vh;
}

.center {
  text-align: center;
}

.skills {
  width: 25vw;
}

.skills h4,
.left50 {
  transform: translateX(-50%);
}

.cardsContainer {
  display: flex;
  width: 400vw;
}

.singleCard {
  width: 30vw;
  margin: 0 5vw;
  background: rgba(49, 22, 84, 0.35);
  margin: 1vw 8vw;
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border-radius: 10px;
  border: 1px solid rgb(39 26 58);
  height: 20vh;
}

.cardTitle {
  margin-bottom: 2vh;
  font-size: 1.4rem;
  font-weight: 600;
}

.skillsList {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.skillsList li {
  margin: 10px 10px;
  font-weight: 600;
}

.cardBody {
  color: white;
}

@media (max-width:572px){
  .skillsList {
    padding-left: 0;
  }
}

@media(min-width: 573px){
  .titleContainer {
    width: 100%;
  }
}

@media (min-width: 1090px) and (max-width: 1822px) {
  .cardsContainer {
    width: 800vw;
  }

  .singleCard {
    width: 60vw;
  }
}

@media (max-width: 1089px) {
  .cardsContainer {
    width: 800vw;
  }

  .singleCard {
    width: 100vw;
  }
}

.introduction {
  margin-bottom: 5vh;
  padding-right: 2vw;
  padding-bottom: 2.5vh;
  border-bottom: 1px solid #5a5a5a;
}

.introduction p {
  text-align: justify;
  
}

.education {
  margin: 4vh 0;
}

.skillsContainers p {
  margin-top: 4vh;
}

.rightPanel {
  border-left: 1px solid #5a5a5a;
  padding-left: 2vw;
}

.schoolName {
  font-weight: 600;
}

.schoolYears {
  color: whitesmoke;
  font-size: 0.8rem;
}

@media(max-width: 577px){
  .containerHeight {
    padding: 2vw;
  }

  .rightPanel {
    border: 0;
    padding-left: 2vw;
  }
}