.animatedtext {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: black;
}

.contactContainer {
  height: 100vh;
  background-color: black;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.textContainer {
  font-family: "Mark pro", sans-serif;
  text-align: center;
  z-index: 99;
}

.textContainer p {
  font-size: 4rem;
  font-weight: 600;
}

.textContainer a {
  color: gray;
  text-decoration: none;
  text-align: center;
  font-weight: 500;
}

.contactFooter svg {
  height: 24px;
  width: 24px;
  margin: 0 25px;
}

.contactFooter span {
  margin: 0 25px;
}

.contactFooter a {
  color: white;
  text-decoration: none;
}

.contactFooter {
  position: absolute;
  height: 100vh;
}

.footerPosition {
  position: relative;
  top: 90vh;
  display: flex;
  align-items: center;
}
