.circle {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.height {
    height: 500vh;
    background: black;
}

.sectionTitle {
    text-align: center;
    font-size: 3.1875rem;
    font-weight: 600;
    color: white;
}
