body {
  font-family: 'Inter', sans-serif;
  background-color: #F8F8F8;
  color: black;
  overflow: visible;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.sectionTitle {
  font-size: 3.1875rem;
  font-weight: 600;
  margin-top: 10vh;
}

.mt-6 {
  margin-top: 6vh;
}

.mt-8 {
  margin-top: 8vh;
}

.mb-8 {
  margin-bottom: 8vh;
}

.mb-10 {
  margin-bottom: 10vh;
}

.mt-10 {
  margin-top: 10vh;
}

.text {
  font-size: 1.5rem;
  line-height: 3.2rem;
}

@media (max-width: 992px){
  .text {
    font-size: 5vw;
    line-height: 1.6rem;
  }
}

.navbarColor {
  background: rgba(237, 237, 237, 0.75);
  /* box-shadow: 0 8px 32px 0 rgb(237 237 237 / 14%); */
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-left: 1%;
}

.navbarTransparent {
  padding: 1% 1%;
}

.hidden {
  transform:translateY(-100%); transition: all 0.3s ease-in-out;
}

.show {
  transform:translateY(0); transition: all 0.3s ease-in-out;
}

.accordion-button {
  background-color: #2a2a2a;
}

.accordion-button .collapsed{
  background-color: inherit;
}

.accordion-button:not(.collapsed){
  background-color: #2a2a2a;
  color: unset;
  box-shadow: unset;
}

.accordion-button:focus {
  box-shadow: unset;
}