body {
  font-family: "Inter", sans-serif;
  background-color: #3E1C64;
  color: white;
  overflow: visible;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  scrollbar-width: auto;
  scrollbar-color: #26083f #3e1c64;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #000000;
}

*::-webkit-scrollbar-thumb {
  background-color: #26083f;
  border-radius: 12px;
  border: 0px none #ffffff;
}

.sectionTitle {
  font-size: 3.1875rem;
  font-weight: 600;
  margin-top: 10vh;
  font-family: "Mark pro", sans-serif;
}

.mt-6 {
  margin-top: 6vh;
}

.mt-8 {
  margin-top: 8vh;
}

.mb-8 {
  margin-bottom: 8vh;
}

.mb-10 {
  margin-bottom: 10vh;
}

.mt-10 {
  margin-top: 10vh;
}

.text {
  font-size: 1.5rem;
  line-height: 3.2rem;
}

@media (max-width: 992px) {
  .text {
    font-size: 5vw;
    line-height: 1.6rem;
  }
}

.navbarColor {
  background: rgba(49, 22, 84, 0.35);
  margin: 1vw 8vw;
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border-radius: 10px;
  border: 1px solid rgb(39 26 58);
}

.navbarTransparent {
  padding: 1% 1%;
}

.hidden {
  transform: translateY(-150%);
  transition: all 0.3s ease-in-out;
}

.show {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

.accordion-button {
  background-color: #3E1C64;
}

.accordion-button .collapsed {
  background-color: inherit;
}

.accordion-button:not(.collapsed) {
  background-color: #3E1C64;
  color: unset;
  box-shadow: unset;
}

.accordion-button:focus {
  box-shadow: unset;
}

.accordion-item {
  background-color: #351b52;
}