body {
  font-family: 'Inter', sans-serif;
  background-color: #F8F8F8;
  color: black;
}

.sectionTitle {
  font-size: 3.1875rem;
  font-weight: 600;
  padding-top: 6vh;
}

.mt-6 {
  margin-top: 6vh;
}

.mt-8 {
  margin-top: 8vh;
}

.text {
  font-size: 1.5rem;
}