.navbarColor {
    background-color: rgba(0,0,0,0) !important;
    padding: 2%;
}

.navlinkStyling {
    padding-left: 2% !important;
    padding-right: 2% !important;
    color: #4E4E4E !important;
}

.navbarToggler span {
    background-image: url('/menu.svg');
  }
