.height {
  height: 500vh;
  background-color: black;
}

.sectionTitle {
  text-align: center;
  font-size: 3.1875rem;
  font-weight: 600;
  color: white;
}

/* .projectTitle {
    position: absolute;
    right: 20vw;
    font-size: 3rem;
    font-weight: 600;
    top: 20vh;
}

.projectTitle2 {
    position: absolute;
    left: 20vw;
    font-size: 3rem;
    font-weight: 600;
    top: 20vh;
}

.projectDesc {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
}

.image {
    border-radius: 14px !important;
}

.imgContainer {
    z-index: 99;
} */

.video {
  width: 37%;
  height: 100%;
  border-radius: 30px;
  display: block;
  object-fit: cover;
  background-color: rgba(0, 0, 0, 0);
  object-position: 50% 50%;
  z-index: 99;
  position: relative;
}
