.height {
  height: 500vh;
  background-color: black;
}

.sectionTitle {
  text-align: center;
  font-size: 3.1875rem;
  font-weight: 600;
  color: white;
}

.video {
  width: 37%;
  height: 100%;
  border-radius: 30px;
  display: block;
  object-fit: cover;
  background-color: rgba(0, 0, 0, 0);
  object-position: 50% 50%;
  z-index: 99;
  position: relative;
}

.workContainerLeft {
  position: relative;
  left: 10vw;
  margin-bottom: 20vh;
}

.workContainerRight {
  position: relative;
  left: 50vw;
  margin-bottom: 20vh;
}

@media (max-width: 1330px) {
  .video {
    width: 50%;
  }

  .workContainerRight {
    left: 43vw;
  }
}

@media (max-width: 858px) {
  .video {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    border-radius: 30px;
  }

  .workContainerLeft,
  .workContainerRight {
    left: 0;
    padding: 0 10vw;
  }
}
